.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
Methods.Handbook.idx
Methods.Handbook.ind
Methods.Handbook.log
Methods.Handbook.synctex.gz
Methods.Handbook.toc
Methods.Handbook-concordance.tex
Methods.Handbook.ilg
ptree.bal.ps
MLEex.png
Cox.png
Surv.png
SurvR.jpg
testingcodeGLM.r
branchingCarlo.r